# Change to your own name
site_name: Robert Gerstner
# Change to your own site
# site_url: https://steob92.github.io/robert-gerstner/ # must have the trailing slash
site_url: https://robert-gerstner.github.io/website/
site_author: Robert Gerstner (robert.gerstner@mail.mcgill.ca)
site_description: Research site for Robert Gerstner
copyright: > # should remain a link to the original theme
  &copy; 2024 Robert Gerstner <br>
  <a href="https://github.com/vuquangtrong/mkdocs-material-blog">Blog Theme</a> /
  <a href="https://squidfunk.github.io/mkdocs-material/">Material for MkDocs</a>

extra:
  social:
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/robert-gerstner-697018173/
    - icon: fontawesome/brands/google-scholar
      link: https://scholar.google.com/citations?user=TYEYABoAAAAJ&hl=en
    - icon: fontawesome/brands/orcid
      link: https://orcid.org/0009-0000-0602-0131
    - icon: fontawesome/brands/github
      link: https://github.com/robertgerstner
    - icon: fontawesome/solid/envelope
      link: mailto:robert.gerstner@mail.mcgill.ca

theme:
    name: material
    palette:
      # Palette toggle for light mode
      - scheme: default
        # Color of the top bar
        primary: red
        # Link highlight color
        accent: red
        
        toggle:
          icon: material/brightness-7 
          name: Switch to dark mode

      # Palette toggle for dark mode
      - scheme: slate
        primary: red
        accent: red
        toggle:
          icon: material/brightness-4
          name: Switch to light mode
    logo: home_media/mcgill_logo.jpg
    features:
    - navigation.instant # some features may not work properly with XHR
    - navigation.instant.progress
    - navigation.tracking # the URL changes with the active anchor
    - navigation.tabs # first top-level sections are shown as tabs
    - navigation.tabs.sticky # tabs always show
    - navigation.sections # sections are rendered as groups in the sidebar
    - navigation.expand # all sections are expanded
    - navigation.path
    - navigation.indexes # link an index.md page to a section
    - navigation.top # show back-to-top button
    - toc.integrate # show table of contents to navigation panel
    - header.autohide
    - content.code.annotate 
    - content.code.copy

extra_javascript:
  
  # For rendering latex
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js


# For describing the navigation panel
nav:
  - Home: index.md
  - About Me:
    - Overview: about/index.md
    - Track and Field: about/track.md
  - Research:
    - Overview: research/index.md
    - Many-Body Localization: research/highlights/MBL/index.md
    - Harmonic Generation in Metallic Nanohybrids: research/highlights/Harm_Gen/index.md
  - Projects: projects/index.md
  - Outreach: outreach.md

# Extensions that we want to use
markdown_extensions:
  - attr_list   # For adding attributes such as right/left align to images
  - md_in_html  # Using Figures



# Additional plugins
plugins:
    - search
    # Using jupyter notebook  
    - mkdocs-jupyter:
          theme: default